// variables
//Brand color
$brandColorPrimary: #19b0e6;
$brandColorSecondary: #fbba19;
$whiteColor: #fff;
$blackColor: #000;
$supportColorA: #fadd00;
$supportColorB: #fbdd00;
$supportColorC: #fab918;
$supportColorD: #f9af14;
$supportColorE: #f68c1f;
$supportColorF: #f57c00;
$supportColorG: #383838;
$supportColorH: #2e2e2e;
$supportColorI: #e5e5e5;
$supportColorJ: #f2f2f2;
$supportColorK: #cccccc;
$supportColorL: #fbc225;
$supportColorM: #676767;
$supportColorN: #cbcbcb;
$supportColorO: #f9f9f9;
$supportColorP: #717171;
$supportColorQ: #2a9001;
$supportColorR: #f4f4f4;
$supportColorS:#4C69BA;
$supportColorT:#364e92;
$supportColorU:#DD4B39;
$supportColorV:#BB3F30;
$supportColorW:#f4d0ac;
$brand-success: #68da75 !default;
$brand-info: #14b1e7 !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;
// Custom Font
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
//@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
$customFontFamily:'Open Sans Condensed',
sans-serif;
$customFontFamilyNormal:'open-sans-condensed-normal',
sans-serif;
$customFontFamilyBold:'open-sans-condensed-bold',
sans-serif;
// Font weights
$light: 300;
$regular: 400;
$bold: 600;
$extrabold: 600;
// Base Font
$baseFontFamily: sans-serif;
$baseFontWeight: $regular;
$baseFontSize: 14px;
$bold: 600;
// Line Height
$baseLineHeight: 1.4;
$lineHeightNo: 0;
$lineHeightMini: 10px;
$lineHeightSmall: 20px;
$lineHeightMedium: 25px;
$lineHeightBig: 30px;
$lineHeightExtraBig: 60px;
// Text Transform
$uppercase: uppercase;
$lowercase: lowercase;
$capitalize: capitalize;
// Custom Font Size
$fs0:0px;
$fsNormal:14px;
$fsSmall:16px;
$fsXmedium: 20px;
$fsMedium:24px;
$fsBig: 26px;
$fsXbig:34px;
$fsSubHeadline:30px;
$fsHeadline:50px;
//Spacer
$sprMini: 10px;
$sprSmall: 20px;
$sprBig: 40px;
$sprExtraBig: 60px;
//Height 
$heightNo: 0;
$heightMini: 10px;
$heightSmall: 20px;
$heightBig: 40px;
$heightExtraBig: 60px;
//Float Property
$fLeft: left;
$fRight: right;
$fNone: none;
$fClear: both;
//Sprite Icons
$icon-width: 60px;
$icon-height: 36px;
$icon-height_02: 75px;
$icons: url("../images/sprites/sprite.png");
//Buttons

/*$btnDefaultColor: #333 !default;
$btnDefaultBg: #fff !default;
$btnDefaultBorder: #ccc !default;
$btnPrimaryColor: #fff !default;
$btnPrimaryBg: $brandPrimary !default;
$btnPrimaryBorder: #f9f9f9 !default;
$btnSecondaryColor: #fff !default;
$btnSecondaryBg: $brandPrimary !default;
$btnSecondaryBorder: #f9f9f9 !default;
$btnDisabledColor: #ccc;*/

// Allows for customizing button radius independently from global border radius

/*$btnBorderRadiusBase: $border-radius-base !default;
$btnBorderRadiusLarge: $border-radius-large !default;
$btnBorderRadiusSmall: $border-radius-small !default;*/

//Images
$logo: "/images/logo.jpg";
$ABLogo: "/images/ablogo.jpg";
$banner1: "/images/banner1.jpg";
$banner2: "/images/banner2.jpg";
//Links
$linkHoverColor: $brandColorPrimary;
$linkActiveColor: $brandColorSecondary;
$linkDisabledColor: $brandColorSecondary;
$linkVisitedColor: $brandColorSecondary;
//Media
//Phone
$screenXS: 320px;
$screenXSMin: $screenXS;
// Small screen / tablet
$screenSM: 768px;
$screenSMMin: $screenSM;
// Medium screen / desktop
$screenMD: 1024px;
$screenMDMin: $screenMD;
// Large screen / wide desktop
$screenLG: 1200px;
$screenLGMin: $screenLG;
// So media queries don't overlap when required, provide a maximum
$screenXSMax: ($screenSMMin - 1) !default;
$screenSMMax: ($screenMDMin - 1) !default;
$screenMDMax: ($screenLGMin - 1) !default;
//Table

/*$tableBgHover: $baseColor;*/

$tableBgActive: $brand-success;
// Skewed
$skewed-box: skewX(-9deg);
$skewed-box-rightSide: skew(-9deg);
$skewed-text: skewX(9deg);
$skewed-textReset: skewX(0deg);